<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>2015 Howard County Winter Track Festival</title>

        <!-- Bootstrap -->
        <link href="/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="page-header">
                        <h1><a href="{{ path('homepage') }}">2015 Howard County Winter Track Festival <small>#hocowinterfest</small></a></h1>
                    </div>

                    <nav class="navbar navbar-default">
                        <div class="container-fluid">
                            <ul class="nav navbar-nav">
                                <li><a href="{{ path('entries') }}">Entries</a></li>
                                <li><a href="{{ path('eventOrder') }}">Order of Events</a></li>
                                <li><a href="{{ path('heatSheets') }}">Heat Sheets</a></li>
                                <li><a href="{{ path('records') }}">Records</a></li>
                                <li><a href="{{ path('payment') }}">Payment</a></li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Results <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        {% for i in 8..14 %}
                                            {% if i < 10 %}
                                                {% set year = '0' ~ i %}
                                            {% else %}
                                                {% set year =  i %}
                                            {% endif %}
                                            <li><a href="{{ path('results20' ~ year) }}">20{{ year }} Results</a></li>
                                        {% endfor %}
                                    </ul>
                                </li>
                                <li><a href="{{ path('rules') }}">Rules & Regs</a></li>
                            </ul>
                        </div>
                    </nav>

                    {% block content %}{% endblock %}
                    <strong>Contact Information: </strong> <a href="mailto:Matthew_Clever@hcpss.org">Matthew_Clever@hcpss.org</a> | (W) 410-313 6965 | (CELL) 443 676 3891
                </div>

            </div>
        </div>


        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="/components/jquery/dist/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
    </body>
</html>